.ContentWrapper p {
  font-family: var(--font-secondary);
  min-height: 1.5em;
  text-align: justify;
  font-size: 1.3em;
}

.ContentWrapper h1,
.ContentWrapper h2,
.ContentWrapper h3 {
  font-family: var(--font-primary);
}

.ContentWrapper h2 {
  font-size: 2.5em;
}

.ContentWrapper h3 {
  font-size: 2em;
}

.ContentWrapper h4 {
  font-size: 1.7em;
}

.ContentWrapper h5 {
  font-size: 1.5em;
}

.ContentWrapper a {
  color: rgb(198, 39, 39);
  word-break: break-all;
}

.ContentWrapper figcaption {
  background: #eee;
  text-align: center;
  padding: 0.7em;
  margin-top: -0.3em;
}

.ImageWrapper {
  max-width: 100%;
  margin: 0 auto;
}

.ImageWrapper img {
  width: 100%;
}
